{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'attisan/common.css' %}" rel="stylesheet">
    <link href="{% static 'attisan/index.css' %}" rel="stylesheet">
</head>
<body>
  <div class=container>
    <div>
      <h1>Welcome to Attisan</h1>
      <p>Site under construction. Thanks for your patience</p>
    </div>
  </div>
</body>
</html>
